html{

}
body{
	background-color: #e7e7e7;
}
#text_admin{
	color: #F4AC36;
}
#mainnav{
	
	background-color: #F4AC36;
}
#container{
	background-color: black;
	
}
header{
	background-color: #FF9320;
	
}

#main{
	
	background-color:#efefef;
	background-color: #FDEBBE;
}
#content{
	
	
	background-color:white;
}

	
footer{
	background-color: black;
	
}

